body {
	background: black;
	margin: 200px;
}
.bingo {
	font-family: "Agu Display", serif;
	font-optical-sizing: auto;
	font-size: small;
	font-weight: 200;
	font-style: normal;
	font-variation-settings: "MORF" 0;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 60px;
	height: 60px;
	margin-top: 10px;
}
.postcard-header h1 {
	width: 320px;
	margin-left: 10px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0px;
}
.body-left {
	width: 80em;
}

.body-right form {
	padding-right: 20px;
}

.body-left,
.body-right {
	padding: 5px 10px;
}

.bingo input {
	border: none;
	width: 150px;
	border-bottom: 1px solid grey;
}

.postcard-footer {
	text-align: center;
	padding: 0px 20px;
}
.postcard-footer button {
	background: rgb(196, 196, 196);
	font-size: medium;
	border: none;
	border-bottom: 1px solid grey;
	border-radius: 5px;
}

.postcard-footer a {
	text-decoration: none;
	color: black;
}
.postcard-footer a:link {
	color: black;
}
.postcard-footer a:hover {
	color: blue;
}
.postcard-footer a:active {
	color: red;
}

/* This is a completed work to the best of my new acquired abilities*/
